/* * {
  padding: 0;
  margin: 0;
} */

body {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 16px);
}

/* .container {
  display: flex;
  flex-flow: row wrap;
  flex-direction: column;
} */

.header{
  background-color: #fecccb;
  height:70px;
}

.header h1{
  padding: 0;
  margin: 0;
}

.contents{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.contents .lside{
  flex: 0 1 auto;
  flex-basis: 0;
  background-color: #feccff;
  padding: 16px 10px;
}

.contents .content{
  flex: 1 0 auto;
  background-color: #ffffcb;
}

.contents .content h2{
  margin: 0;
  padding: 16px 10px;
}

.contents .rside{
  flex:0 0 100px;
  background-color: #ccffff;
  padding: 16px 10px;
}

.footer{
  flex: 0 1 auto;
  margin: 0;
  padding: 0;
  background-color: #ccccfe;
}
